extends ../layouts/application.pug

block header
  = t('views.labels.edit.edit')

block content
  +formFor()(action=`/labels/${label.id}` method="post")
    +input(label, t('views.labels.edit.name'), errors)(type="text", placeholder=t('views.labels.edit.name'))
    input(name="_method" type="hidden" value="patch")
    +submit()(value=t('views.labels.edit.submit'))
