extends ../layouts/application.pug

block header
  = t('views.tasks.new.create')

block content
  +formFor()(action=route('statuses') method='post')
    +input(user, t('views.tasks.new.name'), errors)(type="text", placeholder=t('views.tasks.new.name'))
    +textarea(task, 'description', t('views.tasks.edit.description'))
    +select(statuses, task, 'statusId', t('views.tasks.new.status'), errors)
    +select(users, task, 'executorId', t('views.tasks.new.executor'), errors)
    +select(labels, task, 'labels', t('views.tasks.new.labels'), errors, multiple=true)
    +submit()(value=t('views.tasks.new.submit'))
